<li class="cb-breadcrumb__item">
    @if (Current)
    {
        <span aria-current="page">@ChildContent</span>
    }
    else
    {
        <a href="@Href">@ChildContent</a>
    }
</li>

@code {
    [Parameter] public string Href { get; set; } = "#";
    [Parameter] public bool Current { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
